:root {
  --gray: #71717a;
  --white: #cfcfcd;
  --primary: #a5b4fc;
  --background: #121214;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

/* Layout */

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/scale-steve-johnson-8fnJThWFl6I-unsplash.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: var(--white);
}

.panel {
  position: relative;
  width: 45vw;
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.panel::before {
  content: "";
  position: absolute;
  inset: center;
  width: calc(100% + 8vw);
  height: calc(100% + 5vh);
  border-radius: 1.06vw;
  backdrop-filter: blur(0.3vw);
  -webkit-backdrop-filter: blur(0.3vw);
  border: 0.1vw solid rgba(242, 243, 244, 0.3);
  box-shadow: 1px -1px 14px 3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px -1px 14px 3px rgba(0, 0, 0, 0.75);
}

@media (max-width: 1400px) {
  .panel {
    width: 60vw;
  }
}

@media (max-width: 760px) {
  .panel {
    width: 75vw;
  }
}

.panel .timer-panel,
.panel .stopwatch-panel {
  position: relative;
}

/* Nav Panel */

.page-nav {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-nav button {
  padding: 0 4ch;
  font-size: 1.4rem;
  border: none;
  background-color: transparent;
  color: var(--gray);
  border-bottom: 0.1vw solid var(--gray);
  transition: color 0.2s ease-in-out, border 0.4s ease-in-out;
  cursor: pointer;
}

.page-nav button:hover,
.page-nav button:focus {
  outline: none;
  color: rgba(242, 243, 244);
}

.page-nav button.active {
  color: var(--primary);
  border-color: var(--primary);
  cursor: auto;
}

@media (max-width: 900px) {
  .page-nav button:not(.active) {
    display: none;
  }
}

/* Panels */
.stopwatch-panel,
.timer-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stopwatch-panel:not(.active),
.timer-panel:not(.active) {
  display: none;
}

.edit-panel {
  position: absolute;
  right: -55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Edit Panel&Control */

.edit-control,
.edit-panel {
  user-select: none;
}

.edit-control i,
.edit-panel i {
  margin: 0 0.3ch;
  font-size: 1.5rem;
}

.edit-panel i:hover,
.edit-panel i:focus,
.edit-control i:hover,
.edit-control i:focus {
  outline: none;
  transform: scale(1.5);
  cursor: pointer;
}

.edit-panel i:active,
.edit-control i:active {
  transform: scale(1.2);
}

.edit-control i.hidden,
.edit-panel.hidden,
.edit-control.edit {
  display: none;
}

/* Timer Panel */

.timer-panel .clock-panel h1 p {
  margin: 0 0.2ch;
  padding: 0;
}

.timer-panel .clock-panel h1 p.edit {
  margin: 0 0.4ch 0 0;
}

.timer-panel .clock-panel h1 p:last-of-type:not(.edit) {
  display: none;
}

.timer-panel .clock-panel h1 span {
  margin: 0;
  padding: 0;
}

.timer-panel .clock-panel h1 {
  position: relative;
  display: flex;
  flex-direction: row;
  font-size: 2.5rem;
  margin: 1.2ch 0 0.8ch 0;
  color: var(--white);
  cursor: default;
}
.timer-panel .clock-panel h1 input {
  position: absolute;
  top: 0;
  left: -5%;
  width: 110%;
  height: 100%;
  visibility: hidden;
  font-size: 2.5rem;
  text-align: right;
  border: none;
  outline: none;
  transition: border-bottom 0.1s ease-in-out;
  background: transparent;
  color: var(--white);
  cursor: pointer;
}

.timer-panel .clock-panel h1 input.edit {
  visibility: visible;
  border-bottom: 1px solid var(--white);
}

.timer-panel .clock-panel h1 input:focus.edit {
  border-bottom-color: var(--primary);
}

.shake {
  animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* Stopwatch Panel */

.stopwatch-panel h1 {
  display: inline-block;
  margin: 1.2ch 0 0.8ch 0;
  font-size: 2.5rem;
}

.stopwatch-panel h1 span {
  display: inline-block;
  padding-left: 0.5ch;
  margin: 0;
  font-size: 1.25rem;
}
